Appointments:
<ul>
<% @patient.appointments.each do |appointment| %>
    <li><%= appointment.formatted_datetime %>: <%= link_to appointment.doctor_name, doctor_path(appointment.doctor) %></li>
<% end %>
</ul>